.encounter,
.encounter-totaldps,
.encounter-duration {
  display: none;
}
.encounter-totaldps.show,
.encounter-duration.show,
.encounter.show {
  display: block;
}

.encounter {
  text-shadow: 0 0 8px #000;
  text-align: center;
  margin: 5px 0 0;
}
.encounter .skewer:before {
  transform: skew(-30deg);
  background: rgba(255, 255, 255, 0.1);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.encounter .skewer {
  display: flex;
  margin: 0 auto;
  /* years of css and never heard of this */
  width: -webkit-fit-content;
  padding: 0 10px;
  position: relative;
  justify-content: center;
}
/* Encounter name, Raid DPS and Encounter Duration boxes */
.encounter .skewer > div {
  flex: 1;

  white-space: nowrap;
  margin: 2px 4px;
  padding-left: 6px;
}
.encounter .skewer > div:first-child {
  flex: 3;
  padding: 0 8px;
}
