.inactive .combatants {
  display: none;
}

.combatants {
  display: flex;
  text-align: center;
  justify-content: center;
}

.row {
  flex: 1;
  text-shadow: 0 0 8px #000;
  margin: 0 6px;
  max-width: 140px;
}

.row.self .data-items.highlightSelf:before {
  outline: none;
  border: 1px solid #e9ab00e8;
  box-shadow: 0px 0px 8px #e9ab00e8;
  -moz-box-shadow: 0px 0px 8px #e9ab00e8;
  -webkit-box-shadow: 0px 0px 8px #e9ab00e8;
}

.row.self.byJob.Mnk .data-items:before {
  background: rgba(215, 156, 0, 0.5);
}

.row.byJob.Mnk .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(215, 156, 0, 1.0) 0%,
      rgba(215, 156, 0, 0.5) 51%,
      rgba(215, 156, 0, 0.1) 51%,
      rgba(215, 156, 0, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Drg .data-items:before {
  background: rgba(66, 101, 205, 0.5);
}

.row.byJob.Drg .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(66, 101, 205, 1.0) 0%,
      rgba(66, 101, 205, 0.5) 51%,
      rgba(66, 101, 205, 0.1) 51%,
      rgba(66, 101, 205, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.self.byJob.Nin .data-items:before {
  background: rgba(175, 25, 99, 0.5);
}

.row.self.byJob.Nin .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(175, 25, 99, 1.0) 0%,
      rgba(175, 25, 99, 0.5) 51%,
      rgba(175, 25, 99, 0.1) 51%,
      rgba(175, 25, 99, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.self.byJob.Sam .data-items:before {
  background: rgba(228, 110, 4, 0.5);
}

.row.self.byJob.Sam .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(228, 110, 4, 1.0) 0%,
      rgba(228, 110, 4, 0.5) 51%,
      rgba(228, 110, 4, 0.1) 51%,
      rgba(228, 110, 4, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Brd .data-items:before {
  background: rgba(145, 186, 94, 0.5);
}

.row.byJob.Brd .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(145, 186, 94, 1.0) 0%,
      rgba(145, 186, 94, 0.5) 51%,
      rgba(145, 186, 94, 0.1) 51%,
      rgba(145, 186, 94, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Mch .data-items:before {
  background: rgba(109, 252, 214, 0.5);
}

.row.byJob.Mch .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(109, 252, 214, 1.0) 0%,
      rgba(109, 252, 214, 0.5) 51%,
      rgba(109, 252, 214, 0.1) 51%,
      rgba(109, 252, 214, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Dnc .data-items:before {
  background: rgba(226, 176, 175, 0.5);
}

.row.byJob.Dnc .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(226, 176, 175, 1.0) 0%,
      rgba(226, 176, 175, 0.5) 51%,
      rgba(226, 176, 175, 0.1) 51%,
      rgba(226, 176, 175, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Smn .data-items:before {
  background: rgba(45, 155, 120, 0.5);
}

.row.byJob.Smn .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(45, 155, 120, 1.0) 0%,
      rgba(45, 155, 120, 0.5) 51%,
      rgba(45, 155, 120, 0.1) 51%,
      rgba(45, 155, 120, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Blm .data-items:before {
  background: rgba(165, 122, 214, 0.5);
}

.row.byJob.Blm .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(165, 122, 214, 1.0) 0%,
      rgba(165, 122, 214, 0.5) 51%,
      rgba(165, 122, 214, 0.1) 51%,
      rgba(165, 122, 214, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Rdm .data-items:before {
  background: rgba(233, 123, 124, 0.5);
}

.row.byJob.Rdm .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(233, 123, 124, 1.0) 0%,
      rgba(233, 123, 124, 0.5) 51%,
      rgba(233, 123, 124, 0.1) 51%,
      rgba(233, 123, 124, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Blu .data-items:before {
  background: rgba(41, 45, 94, 0.5);
}

.row.byJob.Blu .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(41, 45, 94, 1.0) 0%,
      rgba(41, 45, 94, 0.5) 51%,
      rgba(41, 45, 94, 0.1) 51%,
      rgba(41, 45, 94, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Pld .data-items:before {
  background: rgba(168, 211, 230, 0.5);
}

.row.byJob.Pld .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(168, 211, 230, 1.0) 0%,
      rgba(168, 211, 230, 0.5) 51%,
      rgba(168, 211, 230, 0.1) 51%,
      rgba(168, 211, 230, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.War .data-items:before {
  background: rgba(207, 38, 33, 0.5);
}

.row.byJob.War .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(207, 38, 33, 1.0) 0%,
      rgba(207, 38, 33, 0.5) 51%,
      rgba(207, 38, 33, 0.1) 51%,
      rgba(207, 38, 33, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Drk .data-items:before {
  background: rgba(209, 38, 204, 0.5);
}

.row.byJob.Drk .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(209, 38, 204, 1.0) 0%,
      rgba(209, 38, 204, 0.5) 51%,
      rgba(209, 38, 204, 0.1) 51%,
      rgba(209, 38, 204, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Gnb .data-items:before {
  background: rgba(121, 110, 48, 0.5);
}

.row.byJob.Gnb .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(121, 110, 48, 1.0) 0%,
      rgba(121, 110, 48, 0.5) 51%,
      rgba(121, 110, 48, 0.1) 51%,
      rgba(121, 110, 48, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Whm .data-items:before {
  background: rgba(255, 240, 219, 0.5);
}

.row.byJob.Whm .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(255, 240, 219, 1.0) 0%,
      rgba(255, 240, 219, 0.5) 51%,
      rgba(255, 240, 219, 0.1) 51%,
      rgba(255, 240, 219, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Sch .data-items:before {
  background: rgba(134, 87, 255, 0.5);
}

.row.byJob.Sch .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(134, 87, 255, 1.0) 0%,
      rgba(134, 87, 255, 0.5) 51%,
      rgba(134, 87, 255, 0.1) 51%,
      rgba(134, 87, 255, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Ast .data-items:before {
  background: rgba(255, 231, 73, 0.5);
}

.row.byJob.Ast .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(255, 231, 73, 1.0) 0%,
      rgba(255, 231, 73, 0.5) 51%,
      rgba(255, 231, 73, 0.1) 51%,
      rgba(255, 231, 73, 0.1) 100%);
  background-repeat: no-repeat;
}


.row.byJob.Mnk .data-items:before {
  background: rgba(215, 156, 0, 0.5);
}

.row.byJob.Mnk .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(215, 156, 0, 1.0) 0%,
      rgba(215, 156, 0, 0.5) 51%,
      rgba(215, 156, 0, 0.1) 51%,
      rgba(215, 156, 0, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Drg .data-items:before {
  background: rgba(66, 101, 205, 0.5);
}

.row.byJob.Drg .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(66, 101, 205, 1.0) 0%,
      rgba(66, 101, 205, 0.5) 51%,
      rgba(66, 101, 205, 0.1) 51%,
      rgba(66, 101, 205, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Nin .data-items:before {
  background: rgba(175, 25, 99, 0.5);
}

.row.byJob.Nin .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(175, 25, 99, 1.0) 0%,
      rgba(175, 25, 99, 0.5) 51%,
      rgba(175, 25, 99, 0.1) 51%,
      rgba(175, 25, 99, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Sam .data-items:before {
  background: rgba(228, 110, 4, 0.5);
}

.row.byJob.Sam .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(228, 110, 4, 1.0) 0%,
      rgba(228, 110, 4, 0.5) 51%,
      rgba(228, 110, 4, 0.1) 51%,
      rgba(228, 110, 4, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Brd .data-items:before {
  background: rgba(145, 186, 94, 0.5);
}

.row.byJob.Brd .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(145, 186, 94, 1.0) 0%,
      rgba(145, 186, 94, 0.5) 51%,
      rgba(145, 186, 94, 0.1) 51%,
      rgba(145, 186, 94, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Mch .data-items:before {
  background: rgba(109, 252, 214, 0.5);
}

.row.byJob.Mch .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(109, 252, 214, 1.0) 0%,
      rgba(109, 252, 214, 0.5) 51%,
      rgba(109, 252, 214, 0.1) 51%,
      rgba(109, 252, 214, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Dnc .data-items:before {
  background: rgba(226, 176, 175, 0.5);
}

.row.byJob.Dnc .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(226, 176, 175, 1.0) 0%,
      rgba(226, 176, 175, 0.5) 51%,
      rgba(226, 176, 175, 0.1) 51%,
      rgba(226, 176, 175, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Smn .data-items:before {
  background: rgba(45, 155, 120, 0.5);
}

.row.byJob.Smn .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(45, 155, 120, 1.0) 0%,
      rgba(45, 155, 120, 0.5) 51%,
      rgba(45, 155, 120, 0.1) 51%,
      rgba(45, 155, 120, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Blm .data-items:before {
  background: rgba(165, 122, 214, 0.5);
}

.row.byJob.Blm .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(165, 122, 214, 1.0) 0%,
      rgba(165, 122, 214, 0.5) 51%,
      rgba(165, 122, 214, 0.1) 51%,
      rgba(165, 122, 214, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Rdm .data-items:before {
  background: rgba(233, 123, 124, 0.5);
}

.row.byJob.Rdm .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(233, 123, 124, 1.0) 0%,
      rgba(233, 123, 124, 0.5) 51%,
      rgba(233, 123, 124, 0.1) 51%,
      rgba(233, 123, 124, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Blu .data-items:before {
  background: rgba(41, 45, 94, 0.5);
}

.row.byJob.Blu .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(41, 45, 94, 1.0) 0%,
      rgba(41, 45, 94, 0.5) 51%,
      rgba(41, 45, 94, 0.1) 51%,
      rgba(41, 45, 94, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Pld .data-items:before {
  background: rgba(168, 211, 230, 0.5);
}

.row.byJob.Pld .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(168, 211, 230, 1.0) 0%,
      rgba(168, 211, 230, 0.5) 51%,
      rgba(168, 211, 230, 0.1) 51%,
      rgba(168, 211, 230, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.War .data-items:before {
  background: rgba(207, 38, 33, 0.5);
}

.row.byJob.War .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(207, 38, 33, 1.0) 0%,
      rgba(207, 38, 33, 0.5) 51%,
      rgba(207, 38, 33, 0.1) 51%,
      rgba(207, 38, 33, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Drk .data-items:before {
  background: rgba(209, 38, 204, 0.5);
}

.row.byJob.Drk .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(209, 38, 204, 1.0) 0%,
      rgba(209, 38, 204, 0.5) 51%,
      rgba(209, 38, 204, 0.1) 51%,
      rgba(209, 38, 204, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Gnb .data-items:before {
  background: rgba(121, 110, 48, 0.5);
}

.row.byJob.Gnb .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(121, 110, 48, 1.0) 0%,
      rgba(121, 110, 48, 0.5) 51%,
      rgba(121, 110, 48, 0.1) 51%,
      rgba(121, 110, 48, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Whm .data-items:before {
  background: rgba(255, 240, 219, 0.5);
}

.row.byJob.Whm .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(255, 240, 219, 1.0) 0%,
      rgba(255, 240, 219, 0.5) 51%,
      rgba(255, 240, 219, 0.1) 51%,
      rgba(255, 240, 219, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Sch .data-items:before {
  background: rgba(134, 87, 255, 0.5);
}

.row.byJob.Sch .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(134, 87, 255, 1.0) 0%,
      rgba(134, 87, 255, 0.5) 51%,
      rgba(134, 87, 255, 0.1) 51%,
      rgba(134, 87, 255, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.byJob.Ast .data-items:before {
  background: rgba(255, 231, 73, 0.5);
}

.row.byJob.Ast .data-items.highlight:before {
  background-image: linear-gradient(to left,
      rgba(255, 231, 73, 1.0) 0%,
      rgba(255, 231, 73, 0.5) 51%,
      rgba(255, 231, 73, 0.1) 51%,
      rgba(255, 231, 73, 0.1) 100%);
  background-repeat: no-repeat;
}

.row.self.job-dps .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(136, 9, 1, 0.9) 0%,
    rgba(136, 9, 1, 0.5) 51%,
    rgba(136, 9, 1, 0.1) 51%,
    rgba(136, 9, 1, 0.1) 100%
  );
  background-repeat: no-repeat;
}
.row.self.job-tank .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(0, 88, 160, 0.9) 0%,
    rgba(0, 88, 160, 0.5) 51%,
    rgba(0, 88, 160, 0.1) 51%,
    rgba(0, 88, 160, 0.1) 100%
  );
  background-repeat: no-repeat;
}
.row.self.job-healer .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(53, 100, 0, 0.9) 0%,
    rgba(53, 100, 0, 0.5) 51%,
    rgba(53, 100, 0, 0.1) 51%,
    rgba(53, 100, 0, 0.1) 100%
  );
  background-repeat: no-repeat;
}

.row.job-dps .data-items:before,
.row.self.job-dps .data-items:before {
  background: rgba(244, 67, 54, 0.5);
}

.row.job-dps .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(244, 67, 54, 0.5) 0%,
    rgba(244, 67, 54, 0.5) 51%,
    rgba(244, 67, 54, 0.1) 51%,
    rgba(244, 67, 54, 0.1) 100%
  );
  background-repeat: no-repeat;
}
.row.job-tank .data-items:before,
.row.self.job-tank .data-items:before {
  background: rgba(32, 149, 243, 0.5);
}
.row.job-tank .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(32, 149, 243, 0.5) 0%,
    rgba(32, 149, 243, 0.5) 51%,
    rgba(32, 149, 243, 0.1) 51%,
    rgba(32, 149, 243, 0.1) 100%
  );
  background-repeat: no-repeat;
}
.row.job-healer .data-items:before,
.row.self.job-healer .data-items:before {
  background: rgba(139, 195, 74, 0.5);
}
.row.job-healer .data-items.highlight:before {
  background-image: linear-gradient(
    to left,
    rgba(139, 195, 74, 0.5) 0%,
    rgba(139, 195, 74, 0.5) 51%,
    rgba(139, 195, 74, 0.1) 51%,
    rgba(139, 195, 74, 0.1) 100%
  );
  background-repeat: no-repeat;
}

/*
.row.job-dps .damage-percent-bg {
  background: rgba(244, 67, 54, 0.3);
}
.row.job-tank .damage-percent-bg {
  background: rgba(33, 150, 243, 0.3);
}
.row.job-healer .damage-percent-bg {
  background: rgba(139, 195, 74, 0.3);
}

.row.self .damage-percent-bg {
  background: rgba(255, 255, 255, 0.5);
}

.row.job-dps .damage-percent-fg {
  background: rgba(244, 67, 54, 0.7);
}
.row.job-tank .damage-percent-fg {
  background: rgba(33, 150, 243, 0.7);
}
.row.job-healer .damage-percent-fg {
  background: rgba(139, 195, 74, 0.7);
}
.row.self .damage-percent-fg {
  background: rgba(255, 255, 255, 1);
}
*/

/*
.row.job-dps .dps.irrelevant {
  background: rgba(244, 67, 54, 0.1);
}
.row.job-tank .dps.irrelevant {
  background: rgba(33, 150, 243, 0.1);
}
.row.job-healer .dps.irrelevant {
  background: rgba(139, 195, 74, 0.1);
}
.row.self div.dps.irrelevant {
  background: rgba(255, 255, 255, 0.5);
}
.row .dps.irrelevant {
  background: rgba(0, 0, 0, 0.1);
}
*/

.row .damage-percent {
  display: table;
  text-align: center;
  width: 100%;
  font-size: 12px;
  top: -2px;
  right: 10px;
}

.row .damage-percent>* {
  display: table-cell;
  width: 10%;
  text-align: center;
}

.damage-dh{ 
  column-span: 3;
}
.damage-crit{ 
  column-span: 3;
}
.damage-dcrit{ 
  column-span: 3;
}
.damage-deaths{ 
  column-span: 1;
}

.row .damage-percent .damage-deaths {
  color: #ff9191e8;
}

/*
.row .damage-percent .damage-dh {
  position: absolute;
  left: 5%;
}
.row .damage-percent .damage-crit {
  position: absolute;
  left: 39.5%;
}
.row .damage-percent .damage-dcrit {
  position: absolute;
  left: 65%;
}
*/

.row .dps {
  color: #fff;
  text-shadow: 0 0 5px #000;
  padding: 0 0 2px 8px;
  margin: 3px 0 0 0;
  flex-grow: 1;
  position: relative;
  text-align: left;
}

.row.self .dps {
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.row .data-items:before {
  background: rgba(0, 0, 0, 0.3);
  transform: skew(-30deg);
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 96%;
}

.row>div {
  margin: 0px auto;
  padding: 0 0 1px;
}

.row div.dps>div {
  /* transform: skew(30deg); */
}

.job {
  width: 20px;
  position: absolute;
  top: -5px;
  left: 59px;
  z-index: 1;
}

.name {
  white-space: nowrap;
}

.data-items {
  display: flex;
  width: 140px;
  position: relative;
}

.dps:last-child {
  text-align: right;
  padding-right: 8px;
  padding-left: 0;
}

.dps span.label {
  font-size: 8px;
  margin: 0 0 0 1px;
}

.row .maxhit {
  font-size: 0.85em;
  margin-top: -0.3em;
  margin-left: -0.8em;
  text-align: center;
}
/*  blur effect */
.streamer-mode {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
