h3 {
  display: none;
}
.inactive h3 {
  display: block;
}
.inactive .combatants {
  display: none;
}
.combatants {
  display: flex;
  text-align: center;
}
.row {
  flex: 1;
  text-shadow: 0 0 8px #000;
  margin: 0 6px;
  max-width: 140px;
}
.row.job-dps .dps {
  background: rgba(244, 67, 54, 0.3);
}
.row.job-tank .dps {
  background: rgba(33, 150, 243, 0.3);
}
.row.job-healer .dps {
  background: rgba(139, 195, 74, 0.3);
}
.row.self div.dps {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.row .dps {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  transform: skew(-30deg);
  text-shadow: initial;
  padding: 2px 0 3px;
}
.row > div {
  margin: 0px auto;
  padding: 0 0 1px;
}
.row div.dps > div {
  transform: skew(30deg);
}
.row div.dps > div:after {
  clear: both;
  content: "";
  display: table;
}
.character-job {
  text-transform: uppercase;
  float: left;
  padding-left: 12px;
}
.damage-stats {
  float: right;
  padding-right: 12px;
}
.rank {
  display: none;
}
